[submodule "turbin3-ts-preq"]
	path = turbin3-ts-preq
	url = https://github.com/Vedhkumar/turbin3-ts-preq
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/Vedhkumar/solana-starter
[submodule "vault"]
	path = vault
	url = https://github.com/Vedhkumar/vault
[submodule "escrow_turbin3"]
	path = escrow_turbin3
	url = https://github.com/Vedhkumar/escrow_turbin3
[submodule "AMM"]
	path = AMM
	url = https://github.com/Vedhkumar/AMM
[submodule "nft-staking"]
	path = nft-staking
	url = https://github.com/Vedhkumar/nft-staking
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/Vedhkumar/marketplace
